[Unit]
Description=A better TISS calendar
After=network.target

[Service]
WorkingDirectory=/home/bettercal/better-tiss-calendar/
ExecStart=/bin/bash -c 'uv run -- gunicorn -w 5 --bind localhost:5003 app:app'
Restart=always

[Install]
WantedBy=default.target
