blinker==1.8.2
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
flake8==7.1.1
Flask==3.0.3
gunicorn==23.0.0
icalendar==5.0.13
idna==3.10
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
mccabe==0.7.0
packaging==24.1
pluggy==1.5.0
pycodestyle==2.12.1
pyflakes==3.2.0
pytest==8.3.3
pytest-mock==3.14.0
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
ruff==0.6.5
six==1.16.0
urllib3==2.2.3
Werkzeug==3.0.6
