<!doctype html>
<html>

<head>
    <meta charset="UTF-8">

    <title>Better TISS Calendar</title>
    <meta property="og:title" content="Better TISS Calendar" />
    <meta property="og:image" content="https://bettercal.flofriday.dev/static/social.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">
</head>

<body class="h-screen">
    <div class="h-full flex flex-col justify-between">
        <main class="container w-full max-w-md mx-auto px-4 text-center">
            <h1 class="text-6xl font-bold pt-12 pb-6 leading-snug">
                Better TISS Calendar
            </h1>
            <div class="pb-10 text-neutral-400">
                We can't fix the room reservation problem, but there is still a
                lot to improve.
            </div>
            <div class="flex flex-row justify-around mb-12">
                <div class="w-[12rem] h-full border border-[color:#333] rounded-2xl text-start p-3">
                    <div class="text-lg font-bold">183.579 VU Technische Grundlagen der Informatik</div>
                    <div class="my-1 text-sm">GM 1 Audi. Max.- ARCH-INF</div>
                    <div class="my-1 text-sm">Vorlesung</div>
                </div>
                <span class="my-auto text-5xl px-2 whitespace-nowrap">➔</span>
                <div class="w-[12rem] h-full border border-[color:#333] rounded-2xl text-start p-3">
                    <div class="text-lg font-bold">TGI VU</div>
                    <div class="my-1 text-sm">Getreidemarkt 9</div>
                    <div class="my-1 text-sm">
                        Technische Grundlagen der Informatik <br>
                        Room: <span class="text-blue-400">GM 1 Audi. Max.- ARCH-INF</span><br>
                        <br>
                        Vorlesung
                    </div>
                </div>
            </div>

            <!--Original URL-->
            <div class="w-full text-start">
                <div class="w-full">
                    <label for="original_url" class="block mb-2 font-medium">
                        Original calendar url (from
                        <a href="https://tiss.tuwien.ac.at/events/personSchedule.xhtml">here</a>):
                    </label>
                    <div class="w-full flex flex-row space-x-3">
                        <input type="text" id="original_url"
                            class="bg-neutral-950 border border-[color:#333] rounded-lg focus:outline-none focus:border-white focus:ring-white  w-full p-2.5"
                            placeholder="https://tiss.tuwien.ac.at/even..." required>
                        <button id="verify"
                            class="bg-neutral-950 border border-[color:#333] rounded-lg px-3 hover:bg-white hover:text-black transition-all ease-in-out duration-300">Create</button>
                    </div>
                    <div id="error_message" class="p-2 text-red-300 invisible">🔥???</div>
                </div>
            </div>

            <div class="w-full text-start pb-8">
                <div class="font-medium">
                    Options:
                </div>

                <input type="checkbox" name="Hey there" id="is_google">
                <label for="is_google" class="text-neutral-400">for Google Calendar</label>
                <!-- <br>
                <input type="checkbox" name="Hey there" id="shorthand" checked>
                <label for="shorthand" class="text-neutral-400">use shorthands</label> -->
            </div>

            <!--Better URL-->
            <div class="w-full text-start mt-2">
                <div class="w-full">
                    <div class="flex flex-row justify-between">
                        <label for="new_url" class="block mb-2 font-medium">
                            Better calendar url:
                        </label>
                        <div id="copy_feedback"
                            class="text-teal-300 font-bold text-end text-sm opacity-0 pr-2 select-none">Copied!
                        </div>
                    </div>
                    <div>
                        <div class="w-full flex flex-row space-x-3">
                            <div id="new_url"
                                class="flex-1 overflow-hidden bg-neutral-950 border border-[color:#333] rounded-lg p-2.5">
                                <div id="better_url_placeholder" class="text-neutral-600 italic">enter tiss url above
                                </div>
                                <div id="better_url"
                                    class="w-full whitespace-nowrap overflow-y-scroll no-scrollbar hidden"></div>
                            </div>


                            <button disabled id="copy"
                                class="group bg-[color:#333] enabled:bg-gradient-to-r enabled:from-cyan-500 enabled:to-blue-500 p-[1px] rounded-lg">
                                <div
                                    class="bg-neutral-950  group-disabled:border-[color:#333] group-disabled:text-neutral-600 align-middle px-3 h-full flex flex-col justify-center rounded-lg group-enabled:hover:bg-opacity-0 transition ease-in-out duration-500">
                                    Copy</div>
                            </button>


                        </div>
                    </div>
                </div>
        </main>
        <footer class="bg-neutral-900 border-t-2 border-t-[color:#333] p-4 text-sm text-neutral-400 mt-16">
            <div class="container w-full max-w-lg mx-auto">
                <div class="flex flex-row justify-between">
                    <div>Made with ❤️ by <a href="https://github.com/flofriday">flofriday</a></div>
                    <div>
                        on <a href="https://github.com/flofriday/better-tiss-calendar">GitHub</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="static/home.js"></script>
</body>

</html>