<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>Better TISS Calendar</title>
    <meta property="og:title" content="Better TISS Calendar" />
    <meta property="og:image" content="https://bettercal.flofriday.dev/static/social.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/logo32.png">
    <link rel="icon" type="image/png" sizes="48x48" href="/static/logo48.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/logo192.png">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/static/logo180.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">
</head>

<body class="h-screen">
    <div class="h-full flex flex-col justify-between">
        <main class="container w-full max-w-[32rem] mx-auto px-4 text-center">
            <h1 class="text-6xl font-bold pt-12  leading-snug"> Better TISS Calendar </h1>
            <div class="text-sm text-slate-400 pb-12">Readable titles, room locations <a class="text-sky-400 visited:text-sky-400" href="https://github.com/flofriday/better-tiss-calendar?tab=readme-ov-file#features">and much more...</a></div>
            <div class="flex flex-row justify-around mb-12">
                <div class="my-auto w-[12rem] h-full border border-[color:#666] rounded-2xl text-start p-3">
                    <div lang="de" class="text-lg font-bold">185.A91 Einführung in die Programmierung 1</div>
                    <div lang="de" class="my-2 text-sm">📌 GM 1 Audi. Max.- ARCH-INF</div>
                    <div lang="de" class="my-1 text-sm">Vorlesung</div>
                </div>

                <span aria-hidden="true" class="my-auto text-5xl px-2 whitespace-nowrap">➔</span>

                <div
                    class="w-[12rem] w-min-[12rem] h-full rounded-2xl p-[1px] bg-linear-to-r from-cyan-500 to-blue-500 shadow-lg shadow-cyan-500/50">
                    <div class="w-full h-full bg-black rounded-2xl text-start p-3">
                        <div lang="de" id="preview-title" class="text-lg font-bold">EP1 VU</div>
                        <div lang="de" class="my-2 text-sm">📌 Getreidemarkt 9</div>
                        <div class="my-1 text-sm">
                            <div id="preview-lecturename" class="mb-1">
                                <strong lang="de">Einführung in die Programmierung 1</strong>
                            </div>
                            <div class="mb-1">
                                Details: <a href="https://tiss.tuwien.ac.at/course/courseDetails.xhtml?dswid=8406&dsrid=953&courseNr=185A91" lang="de" class="text-blue-400">Lecture</a>,
                                <a href="https://tiss.tuwien.ac.at/events/roomSchedule.xhtml?dswid=4026&dsrid=571&roomCode=AUDI" lang="de" class="text-blue-400">Room Reservation</a>
                            </div>
                            <div class="mb-1">
                                Room: <a lang="de" class="text-blue-400" href="https://tuw-maps.tuwien.ac.at/?q=BAU178A">1 Audi. Max.-
                                    ARCH-INF</a>
                            </div>
                            <div>
                                Floor: <span lang="de">Erdgeschoss</span>
                            </div>
                            <br>
                            <span lang="de">Vorlesung</span>
                        </div>
                    </div>
                </div>
            </div>

            <!--Original URL-->
            <div class="w-full text-start">
                <div class="w-full">
                    <label for="original_url" class="block mb-2">
                        <h2 class="text-lg font-medium">
                            Original calendar url (from
                            <a href="https://tiss.tuwien.ac.at/events/personSchedule.xhtml" target="_blank"
                                rel="noopener noreferrer">here</a>):
                        </h2>
                    </label>
                    <div class="w-full flex flex-row space-x-3">
                        <input type="text" id="original_url"
                            class="bg-slate-950 border border-[color:#333] rounded-lg focus:outline-hidden focus:border-white focus:ring-white  w-full p-2.5"
                            placeholder="https://tiss.tuwien.ac.at/even..." required>
                        <button id="verify"
                            class="bg-slate-950 border border-[color:#333] rounded-lg px-3 hover:bg-white hover:text-black transition-all ease-in-out duration-300">Create</button>
                    </div>
                    <div id="error_message" class="p-2 text-red-300 invisible">🔥???</div>
                </div>
            </div>

            <div class="w-full text-start pb-8">
                <div>
                    <h2 class="text-lg font-medium">Options:</h2>
                </div>

                <input type="checkbox" name="Google" id="is_google">
                <label for="is_google" class="text-slate-400">for Google Calendar</label>
                <br>

                <input type="checkbox" name="Shorthand" id="no_shorthand">
                <label for="no_shorthand" class="text-slate-400">disable shorthands</label>
            </div>

            <!--Better URL-->
            <div class="w-full text-start mt-2">
                <div class="w-full">
                    <div class="flex flex-row justify-between">
                        <label for="new_url" class="block mb-2">
                            <h2 class="text-lg font-medium">Better calendar url:</h2>
                            <span class="text-slate-400">For your calendar app</span>
                        </label>
                        <div id="copy_feedback"
                            class="text-teal-300 font-bold text-end text-sm opacity-0 pr-2 select-none">Copied!
                        </div>
                    </div>
                    <div>
                        <div class="w-full flex flex-row space-x-3">
                            <div id="new_url"
                                class="flex-1 overflow-hidden bg-slate-950 border border-[color:#333] rounded-lg p-2.5">
                                <div id="better_url_placeholder" class="text-slate-600 italic">enter tiss url above
                                </div>
                                <div id="better_url"
                                    class="w-full whitespace-nowrap overflow-y-scroll no-scrollbar hidden"></div>
                            </div>


                            <button disabled id="copy"
                                class="group bg-[color:#333] enabled:bg-linear-to-r enabled:from-cyan-500 enabled:to-blue-500 p-[1px] rounded-lg hover:enabled:shadow-lg shadow-cyan-500/50 transition ease-in-out duration-500">
                                <div
                                    class="group-enabled:group-hover:bg-black/0  bg-black group-disabled:border-[color:#333] group-disabled:text-slate-600 align-middle px-3 h-full flex flex-col justify-center rounded-lg  transition ease-in-out duration-500">
                                    Copy
                                    </div>
                            </button>


                        </div>
                        <div id="import-tip" class="mt-12 opacity-0 transition-all duration-500">
                            <div class="border border-[color:#333] p-2 rounded-lg">
                                <h2 class="text-lg mb-2">How to subscribe:</h2>
                                <div class="text-sm">

                                    <p class="mb-2">
                                    Subscribing to bettercal works just like the orignial TISS one.
                                    </p>

                                    <strong class="font-medium mb-1">iPhone/iPad/Mac</strong>
                                    <ol class="list-decimal list-inside space-y-1 text-slate-400 mb-2 ml-2">
                                        <li>Open Calendar app</li>
                                        <li>Go to File → New Calendar Subscription (Mac) or tap Add Calendar → Add Subscription Calendar (iOS)</li>
                                        <li>Pate the url from above</li>
                                    </ol>

                                    <strong class="font-medium mb-1">Google Calendar</strong>
                                    <ol class="list-decimal list-inside space-y-1 text-slate-400 ml-2">
                                        <li>Open Google Calendar (in the Web)</li>
                                        <li>Click the + next to "Other calendars"</li>
                                        <li>Paste the url form above</li>
                                    </ol>
                                </div>
                            </div>
                            <p class="pt-2 text-sm">
                                Having problems? <a href="mailto:flohacksfriday@gmail.com?subject=BetterCal%20Problem">Contact the developer</a>
                            </p>
                        </div>

                    </div>
                </div>
        </main>
        <footer class="bg-slate-900 border-t-2 border-t-[color:#333] p-4 text-sm text-slate-400 mt-16">
            <div class="container w-full max-w-lg mx-auto">
                <div class="flex flex-row justify-between">
                    <div>Made with ❤️ by <a href="https://github.com/flofriday">flofriday</a></div>
                    <div>
                        on <a href="https://github.com/flofriday/better-tiss-calendar">GitHub</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="static/home.js"></script>
</body>

</html>
