<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <title>Statistics</title>
    <meta property="og:title" content="Statistics" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" sizes="32x32" href="/static/logo32.png" />
    <link rel="icon" type="image/png" sizes="48x48" href="/static/logo48.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/static/logo192.png"
    />
    <link
      rel="apple-touch-icon"
      type="image/png"
      sizes="180x180"
      href="/static/logo180.png"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link href="/static/style.css" rel="stylesheet" />
  </head>

  <body class="h-screen">
    <div class="h-full flex flex-col justify-between">
      <main class="container w-full mx-auto px-4 text-center">
        <div class="max-x-[40rem] w-full">
          <h1 class="text-6xl font-bold pt-12 pb-6 leading-snug">Statistics</h1>

          <ul>
            <li>Today's active users: {{statistic.daily_users}}</li>
            <li>Montly active users: {{statistic.monthly_users}}</li>
            <li>Total users: {{statistic.total_users}}</li>
          </ul>
        </div>

        <div class="pt-8 w-full mx-auto md:max-w-[75vw]">
          <canvas id="dailyChart"></canvas>
        </div>
      </main>
      <footer
        class="max-x-[40rem] w-full bg-neutral-900 border-t-2 border-t-[color:#333] p-4 text-sm text-neutral-400 mt-16"
      >
        <div class="container w-full max-w-lg mx-auto">
          <div class="flex flex-row justify-between">
            <div>
              Made with ❤️ by
              <a href="https://github.com/flofriday">flofriday</a>
            </div>
            <div>
              on
              <a href="https://github.com/flofriday/better-tiss-calendar"
                >GitHub</a
              >
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- prettier-ignore -->
    <script>
        let chart_data = {{ chart_data | safe }};
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/static/statistics.js"></script>
  </body>
</html>
