@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #fff;
  --secondary-color: rgb(136, 136, 136);
  --background-color: #000;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Inter", sans-serif;
}

a {
  @apply text-blue-400 visited:text-purple-400 hover:underline;
}

@keyframes flyaway {
  0% {
    transform: translateY(30px);
    opacity: 1;
  }
  100% {
    transform: translateY(-35px);
    opacity: 0;
  }
}

.flyaway {
  animation: 1.5s ease-out 0s 1 flyaway;
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
